@using MyEvernote.WebApp.Models
@using MyEvernote.Entities

@{
    List<Category> list = CacheHelper.GetCategoriesFromCache();
}

<p class="lead">Kategoriler</p>
<div class="list-group">
    <a href="@Url.Action("Index","Home")" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span> Tümü</a>

    @foreach (Category cat in list)
    {
        <a href="/Home/ByCategory/@cat.Id" title="@cat.Description" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span> @cat.Title</a>
    }
</div>