 <!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>Site Haritası</strong>
                </h5>
                <hr />
                <p>
                    <a href="/Home/About"><span class="glyphicon glyphicon-info-sign"></span> Hakkmızda</a><br />
                    <a href="/Home/MostLiked"><span class="glyphicon glyphicon-star"></span> En Beğenilenler</a><br />
                    <a href="/Home/Index"><span class="glyphicon glyphicon-th-list"></span> Son Yazılar</a>
                </p>
            </div>

            <div class="col-lg-4 text-center">
                <h5>
                    <strong>MyEvernote</strong>
                </h5>
                <hr />
                <p>
                    Tüm hakları saklıdır &copy;<br />
                    MyEvernote @DateTime.Now.Year
                </p>
            </div>

            <div class="col-lg-4 text-center">
                <h5>
                    <strong>E-Bültek Üyeliği</strong>
                </h5>
                <hr />
                <div class="col-md-10 col-md-offset-1">
                    <p>
                        Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                    </p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="e-posta adresiniz">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-send"></span> Gönder
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->
